<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <hr>
    <h1> <%= text %> </h1>
    <a class="btn btn-dark btn-lg" href="/" role="button">Home</a>
  </div>
</div>


<%- include('partials/footer') %>
